@page "/chess"

@inject IChessDataService ChessDataService

<h1>Chess data</h1>

@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Enter a player you want to search from Chess.com (default: tinysibs)</p>
    <p>
        <input class="input" @bind="queriedPlayer"/>
    </p>

        <button @onclick="SearchChessData">
            Search!
        </button>

    <table class="chess-table">
        <tbody>
            @foreach (var game in games)
            {
                ToggleFlipData(game.Black.IsQueriedPlayer);
                <table class="customTiny">
                    <tr>
                        <td>Turn: @game.Turn</td>
                    </tr>
                    @if (@game.Black.IsQueriedPlayer)
                    {
                        <tr>
                            <td>White player name: <b>@game.White.Name</b></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Black player name: <b>@game.Black.Name</b></td>
                        </tr>
                    }

                    <img src="https://www.chess.com/dynboard?fen=@game.Fen&board=glass&piece=neo&size=3&flip=@flipData"
                        style="border:1px solid black; width: 300px; height: 300px;" />
                    @if (@game.White.IsQueriedPlayer)
                    {
                        <tr>
                            <td>White player name: <b>@game.White.Name</b></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Black player name: <b>@game.Black.Name</b></td>
                        </tr>
                    }

                </table>
            }
        </tbody>
    </table>
}

@code {
    private static List<Data.ChessData> games;

    private int flipData = 0;

    private string username = "tinysibs";
    private string queriedPlayer = "";

    protected override async Task OnInitializedAsync()
    {
        games = await ChessDataService.GetResponse(username);
    }

    private void ToggleFlipData(bool isQueriedPlayer)
    {
        if (isQueriedPlayer)
        {
            flipData = 1;
        }
        else
        {
            flipData = 0;
        }
    }

    private async Task SearchChessData()
    {
        games = await ChessDataService.GetResponse(queriedPlayer);
    }
}
